@inherits LayoutComponentBase

<Responsive>
    <div class="p-1.5 h-dvh max-h-dvh overflow-hidden bg-gray-900 text-gray-400 selection:bg-gray-700 selection:text-white">
        @Body
    </div>    
</Responsive>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>