@inherits LayoutComponentBase

<Responsive>
    <div class="p-1.5 h-dvh max-h-dvh overflow-hidden bg-gray-900 text-gray-400 selection:bg-gray-700 selection:text-white flex flex-col gap-1.5">
            <header class="p-1.5 bg-gray-800 rounded-lg flex">
                <div class="flex-1"></div>
                
            </header>

            <div class="flex-1 min-h-0 flex gap-1.5">
                <MainSideMenu/>
                <main class="flex-1">@Body</main>
            </div>
        </div>
</Responsive>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>