@page "/button"

<Page Title="UI Examples - Button" Label="Button Component">
    <Body>
        <div class="w-60 flex flex-col gap-4">
            <Button Label="Primary" />
            <Button Label="Primary Disabled" Disabled />

            <Button Label="Secondary" Motif="ButtonMotif.Secondary" />
            <Button Label="Secondary Disabled" Disabled />

            <Button Label="Danger" Motif="ButtonMotif.Warning" />
            <Button Label="Danger Disabled" Disabled />
        </div>
    </Body>
</Page>

@code {

}