@page "/input/password"

<Page Label="Input Password Component" Title="UI Examples - Input Password">
    <Body>
        <Form class="w-60 flex flex-col gap-1">
            <Password Label="Password Enabled" @bind-Value="_password" />
            <Password Label="Password Disabled" @bind-Value="_password" Disabled />
        </Form>
    </Body>
</Page>

@code {
    string _password = "";
}