@page "/icon"

<Page Title="UI Examples - Icons" Label="Icons">
    <Body>
        <div class="grid grid-flow-col auto-cols-auto gap-4">
            <div class="flex flex-col justify-center">
                <HomeIcon Class="size-10" />
                <span>Home</span>
            </div>

            <div class="flex flex-col justify-center">
                <CloseIcon Class="size-10" />
                <span>Close</span>
            </div>

            <div class="flex flex-col justify-center">
                <RefreshIcon Class="size-10" />
                <span>Refresh</span>
            </div>

            <div class="flex flex-col justify-center">
                <SearchIcon Class="size-10" />
                <span>Search</span>
            </div>
        </div>
    </Body>
</Page>

@code {

}