@namespace Share

@inherits Component

<div class="min-h-0 h-full p-1 rounded-lg bg-gray-800 overflow-hidden">
    <nav class="h-full overflow-y-auto scrollbar-dark text-sm font-medium flex flex-col items-center">
        @ChildContent
    </nav>
</div>