@namespace Share

@inherits Component

<form class="group inline-flex">
    <div class="px-2.5 bg-gray-700 rounded-l-full inline-flex items-center">
        <SearchIcon class="size-6" />
    </div>

    <input type="search" class="bg-gray-900 rounded-r-full border-0 outline-1 focus:outline-orange-400 focus:outline-offset-1 focus:ring-transparent focus:ring-offset-transparent" />
</form>