@namespace Share

@inherits Component

<button type="button" class="p-2 w-16 text-sm font-medium hover:text-orange-400 hover:bg-gray-900 rounded-md cursor-pointer inline-flex flex-col items-center justify-center" @onclick="OnClick">
    @ChildContent
    <span class="text-sm">@Label</span>
</button>